footer {
  padding: 1% 7%;
  background-color: #ff9d76;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}

.copyright {
  text-align: center;
  font-weight: 500;
  color: #120136;
}

.address {
  margin-left: 5%;
  font-weight: 500;
  color: #120136;
}

.social-links {
  margin-left: auto;
  margin-right: 2%;
  flex-grow: 0.3;
  text-align: center;
  color: #120136;
}

.social-icon {
  font-size: 1.8rem;
  margin: 4%;
}

.bibliography {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2%;
  justify-content: center;

}

.bibliography p {
  margin: 0 25px;
}

@media (min-width: 767px) and (max-width: 1025px) {
  footer {
    padding: 1% 4%;
  }

}

@media (max-width: 767px) {
  footer {
    padding: 1% 4%;
    font-size: 0.9rem;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
  }

  .bibliography p {
    margin: 0 5px;
  }

}
