/* General */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  /* background-color: #a3f7bf; */
  background-color: #e8f9e9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
  padding: 25px 50px;
  height: 200px;
}

.logo {
  margin-right: auto;
  cursor: pointer;
}

.logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 99;
}

.logo h2 {
  display: inline-block;
  font-family: Permanent Marker;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav-links li {
  display: inline-block;
  padding: 0 2%;
  // margin-left: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #8105d8;
  margin: 0 30px;
}

/* Classes that are used in dom.js */
.header-tab {
  background-color: #b7efcd;
  transition: 0.5s;
  // margin-top: -1%;
}

/* Tablet size */
@media (min-width: 767px) and (max-width: 1025px) {

  .logo img {
    width: 120px;
    height: 120px;
  }

  .nav-links li a {
    margin: 0 15px;
  }
}

/* mobile phone size */
@media (max-width: 767px) {
  header {
    justify-content: flex-end;
    flex-direction: column;
    font-size: 1rem;
    padding: 25px 50px;
    height: 200px;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }
  
  .nav-links li a {
    margin: 0 15px;
  }
}
