* {
  font-family: IBM Plex Serif;
}

#inputform-div {
  grid-area: col1;
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(0deg, #ff9d76, #9de3d0, #e8f9e9);
}

#carousel-div {
  grid-area: col2;
  position: relative;
}

.main {
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-columns: 30% 70%;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
  height: 100px;
  width: 50px;
  background-color: #f4f4f4;
  position: absolute;
  top: 40%;
  opacity: 0.3;
}

.carousel-caption-text {
  font-size: 5rem;
  font-family: Satisfy;
}

.caption-middle {
  position: absolute;
  top: 40%;
}

.caption-top {
  position: absolute;
  top: 30%;
}

/* Overrisde bootstrap default color setting */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c7b95' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* Overrisde bootstrap default color setting */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c7b95' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.inputform-title, .destination, .departure, .return {
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.select-title {
  height: 100%;
  text-align: center;
  background-color: #216353;
  color: #fff;
  padding: 2%;
  width: 120px;
  font-size: 1.2rem;
  border-radius: 5px 0 0 5px;
  margin-bottom: 0;
}

.input-text {
  font-size: 1.1rem;
  border: 2px solid #216353;
  border-left: none;
  padding-left: 2%;
  border-radius: 0 5px 5px 0;
  width: 250px;
}

.btn-inputform {
  background-color: #522d5b;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 3%;
  width: 180px;
}

/* .btn class is global as it is the same class in newsletter.css */
.btn:hover {
  color: #f8eeee;
}

.btn:active {
  transform: translateY(3px);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-inputform:hover {
  color: #f5a31a;
}

.add-destination {
  display: flex;
  justify-content: flex-start;
  margin: 7% 0;
}

.fa-plus {
  font-size: 1rem;
}

.listview {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 1s;
  margin-top: 10%;
}

.btn-listview {
  color: #fff;
  background-color: #af460f;
  font-size: 1.2rem;
  width: 380px;
  border-radius: 5px;
}

.btn-listview span {
  vertical-align: center;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-listview span:after {
  font-family: FontAwesome;
  content: '\f0a9';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-listview:hover span {
  padding-right: 25px;
}

.btn-listview:hover span:after {
  opacity: 1;
  right: 0;
}

.destination {
  position: relative;
}

.cityNamesAuto {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 120px;
  right: 0;
  width: 250px;
}

.cityNamesAuto div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.cityNamesAuto div:hover {
  background-color: #c3edea;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #dbdbdb !important;
}

.travelList {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  width: 380px;
}

.toggleList {
  display: none;
}

.travelList div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.travelItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-trash-alt {
  font-size: 1.2rem;
  margin-left: auto;
}

.countdownSpan {
  margin-left: 5px;
}

.travelItemSlide {
  transform: translateX(-100%);
  transition: 0.75s;
  /* animation: 3s linear 1s infinite alternate slidein; */
}

.display-div {
  position: relative;
  text-align: center;
}

.display-div h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.hide {
  display: none;
}

@media (min-width: 767px) and (max-width: 1025px) {

  .main {
    display: flex;
    flex-direction: column;
  }

  .carousel-caption-text {
    font-size: 4rem;
  }

  .select-title {
    width: 140px;
    margin-bottom: 0;
  }

  .input-text {
    font-size: 1.2rem;
  }

  .listview {
    margin-bottom: 5%;
  }

  .inputform-title, .destination, .departure, .return {
    margin: 2% 0;
  }

  .display-div h6 {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-15%, -15%);
  }
}

@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .carousel-caption-text {
    font-size: 4rem;
  }

  .select-title {
    height: 100%;
    text-align: center;
    width: 280px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  .input-text {
    font-size: 1rem;
    border: 2px solid #216353;
    padding-left: 2%;
    border-radius: 0 0 5px 5px;
    width: 280px;
  }

  .btn-inputform {
    font-size: 0.9rem;
    width: 140px;
  }

  .flatpickr-calendar {
    right: 0;
  }

  .listview {
    margin-bottom: 5%;
  }

  .travelList {
    width: 285px;
    font-size: 0.9rem;
  }

  .cityNamesAuto {
    left: 0;
    right: 0;
    width: 280px;
  }

  .btn-listview {
    width: 285px;
    font-size: 1rem;
  }

  .inputform-title, .destination, .departure, .return {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
  }

  .carousel-control-prev, .carousel-control-next {
    height: 60px;
    width: 30px;
    top: 30%;
  }
}
