* {
  font-family: IBM Plex Serif;
}

#inputform-div {
  grid-area: col1;
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(0deg, #ff9d76, #9de3d0, #e8f9e9);
}

#carousel-div {
  grid-area: col2;
  position: relative;
}

.main {
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-columns: 30% 70%;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
    height: 100px;
    width: 50px;
    background-color: #f4f4f4;
    position: absolute;
    top: 40%;
    opacity: 0.3;
}

.carousel-caption-text {
  font-size: 5rem;
  font-family: Satisfy;
}

.caption-middle {
  position: absolute;
  top: 40%;
}

.caption-top {
  position: absolute;
  top:30%;
}

/* Overrisde bootstrap default color setting */
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c7b95' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* Overrisde bootstrap default color setting */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c7b95' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.inputform-title, .destination, .departure, .return {
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.select-title {
  height: 100%;
  text-align: center;
  background-color: #216353;
  color: #fff;
  padding: 2%;
  width: 120px;
  font-size: 1.2rem;
  border-radius: 5px 0 0 5px;
}

.input-text {
  font-size: 1.1rem;
  border: 2px solid #216353;
  border-left: none;
  padding-left: 2%;
  border-radius: 0 5px 5px 0;
  width: 250px;
}

.dropdown {
  background: none!important;
  position: absolute;
  right: 14%;
  color: #216353;
  height: 100%;
}

.fa-caret-down {
  font-size: 1.5rem;
  padding: 1%;
}

.btn-inputform {
  background-color: #522d5b;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 3%;
  width: 180px;
}

/* .btn class is global as it is the same class in newsletter.css */
.btn:hover {
  color: #f8eeee;
}

.btn:active, .dropdown:active {
  transform: translateY(3px);
}

.btn:focus, .dropdown:focus {
  outline: none;
  box-shadow: none;
}

.add-destination {
  display: flex;
  justify-content: flex-start;
  /* padding-right: 10%; */
  margin: 7% 0;
}

.fa-plus {
  font-size: 1rem;
}

/* The following classes apply when user adds a destination to his/her list */
.listview {
  /* display: none; */
  margin-top: 10%;
  display: flex;
  justify-content: flex-end;
}

.btn-listview {
  color: #fff;
  background-color: #af460f;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 5px;
  margin-right: 10%;
}

.btn-listview span {
  vertical-align: center;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-listview span:after {
  font-family: FontAwesome;
  content: '\f0a9';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-listview:hover span {
  padding-right: 25px;
}

.btn-listview:hover span:after {
  opacity: 1;
  right: 0;
}
