.newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ff9d76;
  justify-content: center;
  padding: 5%;
  font-size: 1.2rem;
}

.newsletter-label {
  margin: 0 3%;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
}

.email-box {
  font-size: 1.1rem;
  border: 2px solid #216353;
  padding-left: 2%;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

.btn-subscribe {
  background-color: #522d5b;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: 3%;
  width: 140px;
  height: 50px;
}

@media (min-width: 767px) and (max-width: 1025px) {
  .newsletter {
    font-size: 1rem;
  }

  .newsletter-label h4 {
    font-size: 1.3rem;
  }

  .email-box {
    font-size: 1.1rem;
    width: 250px;
  }

  .btn-subscribe {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .newsletter {
    flex-direction: column;
    background-color: #ff9d76;
    font-size: 1rem;
  }

  .newsletter {
    font-size: 1rem;
  }

  .newsletter-label h4 {
    font-size: 1.2rem;
  }

  .email-box {
    font-size: 1rem;
    width: 180px;
  }

  .btn-subscribe {
    width: 100px;
    font-size: 1rem;
  }
}
