/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&display=swap');

/* custome styles */
/* header section */
header {
  /* background-color: #a3f7bf; */
  background-color: #e8f9e9;
  font-size: 1.2rem;
  position: relative;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 50px;
}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 99;
}

.logo h2 {
  display: inline-block;
  font-family: Permanent Marker;
}

header .bg {
  object-fit: cover;
  height: 200px;
  width: 100%;
  opacity: 0.3;
}

/* title section */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 5% 1% 2%;
  background-color: #f9b384;
}

.title a {
  font-size: 1.2rem;
  color: #00005c;
}

/* main body */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  grid-template-areas: "a b"
}

/* travel dest sectoin of the main */
.tile img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.travel-dest {
  grid-area: a;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.tile {
  margin: 10px 20px 0 20px;
  border: 2px solid #000;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.info-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 25px 0;
}

.tile-text {
  margin-right: auto;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-btn button, .tile button {
  width: 150px;
  margin-top: 15px;
}
